*{
  max-width: 90%;
  /* background-color:rgb(250, 158, 189) */

}
.app{
  text-align: center;
  margin-top: 50px;
background-color: rgb(8, 146, 167);
}
.Heading{
  font-weight: bolder;
  text-shadow: 4px 4px 4px gray;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  max-width: 80%;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  border: 1px solid #676767;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgb(86, 86, 86);
  margin: 5px;
}

.completed {
  text-decoration: line-through;
}
/* color: #61dafb; */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
